on:
  workflow_dispatch:
  push:
    branches: ["master"]
    tags: ["*"]

name: Publish Pipeline

jobs:
  quarto-publish-pages:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master' || contains(github.ref, 'refs/tags/')
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - run: python3 -m pip install jupyter nbformat

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set virtual environment
        run: uv venv && source .venv/bin/activate

      - name: Install the project
        run: uv sync


      - name: Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
